body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #666;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 32px;
	color: #333;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color: #333;
}
h4 {
	font-size: 18px;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #1f386e;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #e52f3c;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}
/* Navigation */
#menu {
	padding: 10px 10px 4px 10px;
	transition: all 0.8s;

}
#menu.navbar-default {
	background-color: #fff;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 30px rgba(0,0,0,0.2)
}
#menu .navbar-header img{

	height: 80px;
	width: 60px;
	margin-top: -17px;
}

#menu .navbar-header .page-scroll{
	padding-top: 8px;
}
#menu .okna {
	font-size: 35px;
	color: #1f386e;
	text-transform: uppercase;
	float: left;
	margin-top: -13px;
	letter-spacing: -2px;
		font-weight: 700;
}
#menu .okna span {
	font-size: 11.5px;
	color: #1f386e;
	text-transform: uppercase;
	float: left;
	padding-right: 50px;
	letter-spacing: -0.8px;
		font-weight: 700;
}
#menu .okna a{
		font-weight: 700;
		font-stretch: ultra-condensed;
	}
#menu.navbar-default .navbar-nav > li > a {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #1f386e;
	font-size: 14px;
	font-weight: 700;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #ce2a36;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ce2a36 !important;
	background-color: transparent;
}
#menu .phone {
	font-family: 'Montserrat', sans-serif;
	margin: -5px 0 0 0px;
	float: left;
	font-size: 17px;
	font-weight: 700;
	color: #1f386e;
	margin-left: 30px;
}
#menu .phone span {
	font-size: 14px;
	display: block;
	color: #1f386e;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
	border-color: #fff;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #1b6d3f;
}
.section-title {
	margin-bottom: 70px;
}
.section-title h2 {
	font-size: 40px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
	color: #1f386e;
}
.section-title h2::after {
	position: absolute;
	content: "";
	background-color: #e52f3c;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #e52f3c;
	padding: 14px 20px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	transition: all 0.3s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #1f386e;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/bg3.jpg) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.3);
}
.intro h1 {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 56px;
	font-weight: 700;
	margin-top: 0;
	text-shadow: 0 0 15px rgba(0,0,0,0.5)
}
.intro p {
	color: #fff;
	font-size: 17px;
	line-height: 28px;
	padding: 15px;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 40px;
	background: rgba(0,0,0,.45);
}
header .intro-text {
	padding-top: 350px;
	padding-bottom: 150px;
	text-align: center;
}
section.sale {
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 600px;
	padding-top: 65px;
	padding-right: 100px;
	background: #fff url(../img/bg-image.jpg) bottom no-repeat;
}
.sale form h3 {
	font-size: 32px;
	color: #1f386e;
	text-transform: uppercase;
}
.sale form span {
	font-size: 40px;
}

.sale .form2 input {
	margin-bottom: 15px;
}
.sale .form2{
	max-width: 450px;
	display: block;
	float: right;
	padding:30px;
	display: block;
	background-color: #ebebeb;
	opacity: 0.9;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Get Touch Section */
#get-touch {
	padding: 40px 0 30px;
	color: rgba(255,255,255,.7);
	background: #1f386e;
}
#get-touch h3 {
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	margin: 0 0 10px 0;
}
#get-touch .btn-custom {
	margin: 0;
	background: transparent;
	border: 2px solid #fff;
}
#get-touch .btn-custom:hover {
	color: #1f386e;
	background: #fff;
	border: 2px solid #fff;
}
header .timer-sale{
	display: block;
	margin:auto;
} 
.sale .timer-sale {
	margin-top: 30px;
} 
/* Start Fun Facts Counter Section
/*----------------------------------------------------------*/

.fun-facts {
    background: url(../images/parallax/bg-02.jpg);
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 10px;
        background-color:  #f6f6f6;
}
h2 {
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.09);
	text-align: center;
}

.counter-item {
    position:relative;
    text-align:center;
    margin-bottom: 40px;
    background: rgba(0, 0, 0, 0.1);
    padding: 40px;
    min-height: 300px;
     background-color:  #edeeef;
     border: 1px solid #caccce; 
}
.counter-logo{
	width: 70px;

}
.counter-item h5 {
  text-align:center;
  margin-bottom:0px;
  font-size: 20px;
color: #000;
  font-family: 'Oswald', sans-serif;
}

.timer {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  text-align:center;
  line-height:80px;
    font-family: 'Oswald', sans-serif;

}



/*-------------------------------------------------*/
/* Start Latest News Section                       */

/* Services Section */

.okna-svg {
	margin: auto;
	text-align: center;

}
.okno-wrap{
	min-height: 335px;
}
.okna-svg img{
	width: 250px;
}
#services .section-title h2{
	font-size: 50px;
		color: #1f386e;
}
.okna-svg p{
	margin-top: 20px;
	font-size: 22px;
	color: #1f386e;
	margin-bottom: 15px;
}
.okna-svg button{
font-size: 13px;
}
#services .okna-svg .okno-wrap2 img{
 margin-bottom: 106px ;
}

/*Money section*/
#money {
max-height: 550px;
}
section.money{
	width:100%;
	margin-top: 50px;
	background-size: cover;
		background: #fff url(../img/content_4.jpg) 30% no-repeat;

}
.title-money h2{
	margin-top: 30px;
	font-size: 60px;
	color: #1f386e;
}
.wrap-money{
	display: block;
	background-color: #1f386e;
	text-align: center;
	padding: 20px;
	margin-top: 10px;
}
.wrap-money p{
	color: #fff;
	font-size: 30px;
}
.wrap-money span{
	color: #fff;
	font-size: 50px;
}
section.money img{
margin-top: 20px;
margin-bottom: 20px;
margin-left: 2px;
width:180px;
height: 112px;
}


/*form-section*/
.title-form h2{
	margin-top: 30px;
	font-size: 40px;
	color: #1f386e;
}
section.form-money{
	margin-top: 10px;
}
section.form-money form button{
	display: block;
	margin: auto;
	margin-top: 30px;

}
section.form-money form input{
	display: block;
	margin: auto;
	width: 90%;
	padding: 15px;
}
.form-money .col-md-8 {
	text-align: center;
		margin-bottom: 30px;
}
.form-money .col-md-8 small{
	text-align: center;
	font-size: 10px;

}


/*==========================
========Work Process========
===========================*/
.work-process {
	background-color:#fff;
}
.title-work{
	margin-top: 60px;
}
.follow-process {
	text-transform:uppercase;
}

.follow-process:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);	
	color:#0c0b0b;
}

.follow-process img {
	font-size:34px;
	margin-bottom:95px;
	color:#fff;
	height:90px;
	width:150px;
	line-height:90px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}


/* Portfolio Section */
#portfolio {
	padding: 30px 0;
	background: #f6f6f6;
}
.portfolio-title h2 {
	font-size: 35px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
	color: #1f386e;
}
.portfolio-item {
	margin: 15px 0;
}



.portfolio-item .hover-bg {
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: rgba(31, 56, 110, 0.8);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
}
.hover-bg:hover .hover-text>img {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	color: #fff;
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* Testimonials Section */
#testimonials {
	padding: 30px 0;
}

.testimonial {
	position: relative;
	padding: 20px;
}
.testimonial-image {
	float: left;
	margin-right: 15px;
}
.testimonial-image, .testimonial-image img {
	display: block;
	width: 64px;
	height: 64px;
}
.testimonial-content {
	position: relative;
	overflow: hidden;
}
.testimonial-content p {
	margin-bottom: 0;
	font-size: 14px;
	font-style: italic;
}
.testimonial-meta {
	margin-top: 10px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}


/*charecters*/
.charecters{
	background-color: #f6f6f6;
}
.charecters h2{
	margin-top: 40px;
}
.charecters .section-title {
	margin-bottom: 0;
}
.charecters ul img{
	margin-left: 50px;
width: 150px;
margin-bottom: 30px;

}
.charecters ul.main-characters{
	margin-top: 322px;
	font-size: 20px;
	font-weight: 700;

	color: #000;
}
.charecters ul{
	text-align: center;
	margin-top: 20px;
	font-size: 20px;

}

.charecters li{
margin-bottom: 19px;
	line-height: 1.7;
}
.ul{
	margin-top: 20px;
}
.charecters li span{
color: 
}

.charecters ul span{
color: #e52f3c;
font-weight: 700

}
.charecters .ul .charecters-ul li{
border-bottom: 1px solid #000;
}
.charecters .ul button {
margin-top: 16px;
margin-bottom: 40px;
}


.form2 button{
	width:100%;
		margin: 0;	
}
.form2 input{
	padding: 15px;	
	width:100%;
}
.forma2 {
	margin-top: 10px;	
	margin-bottom: 20px;	
	text-align: center;	
}
.forma2 h2{
	font-size: 30px;	
}

/* Contact Section */
#contact {
	padding: 20px 0 20px 0;
	background: #1f386e;
	color: rgba(255,255,255,.65);
}
#contact .section-title {
	margin-bottom: 40px;
}
#contact h2 {
	font-size: 50px;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}
#contact h4 {
	color: #fff;
	margin-top: 22px;
	margin-bottom: 60px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}
#contact form {
	padding-top: 20px;
}
#contact h3 {
	font-size: 17px;
	font-weight: 600;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
#contact .btn-custom {
	margin: 30px 0;
	background: transparent;
	border: 2px solid #fff;
}
#contact .btn-custom:hover {
	color: #1f386e;
	background: #fff;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .contact-item {
	margin: 20px 0;
}
#contact .contact-item span {
	color: rgba(255,255,255,1);
	display: block;
}
#contact .social {
	border-top: 1px solid rgba(255,255,255,0.1);
	padding-top: 50px;
	margin-top: 50px;
	text-align: center;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 24px;
	padding: 10px;
	color: rgba(255,255,255,0.6);
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #fff;
}
/* Footer Section*/
#footer {
	background: #ebebeb;
}
#footer h3 {
	color: #888;
	font-size: 13px;
	padding: 5px 0;
}
#footer a {
	color: #1f386e;
}
#footer a:hover {
	color: #e52f3c;
}
#footer span{
	font-size: 15px;
	font-weight: 700;
}


.pop-up{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.6);
	z-index: 999;
	top: 0;
	position: fixed;
	display: none;
}
.wrap-popup{
	position: fixed;
	max-width: 450px;
	width:100%;
	top: 40%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	background-color: #fff;
	padding: 50px 14px 20px 14px;
	z-index: 9999;
	display: none;

}
.wrap-popup input{
	margin:auto;
	display: block;
	font-size: 15px;
	padding: 9px;
	width:80%;
	margin-top: 10px;
}
.wrap-popup button{

	margin:auto;
	display: block;
	font-size: 15px;
	padding: 9px;
	width:80%;
	margin-top: 13px;
	margin-bottom: 5px;
}
.wrap-popup form{
	display: block;
	margin:auto;
	text-align: center;

}
.wrap-popup form h3{
	display: block;
	margin:auto;
	text-align: center;
	width:80%;
	margin-bottom: 20px;
	}
.wrap-popup form p{
	font-size: 22px;
	font-weight: 700;
	position: absolute;
	top: 0;
	left: 95%;
}

.wrap-popup .popup-close {
	cursor: pointer;
}
.timer-saling{
	display: none;
	margin-top: 10px;
}
section.forma3 {
	background-image: url(../img/bg-okna.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	margin-bottom: 20px;
}
#portfolio .portfolio-items .portfolio-item {
	max-width: 360px;
	max-height: 240px;
}
@media (max-width: 768px) {
#about img {
	margin: 50px 0;
}
}

@media (max-width: 567px) {
	.main-characters{
		display: none;
	}
	.intro {
	background-attachment: scroll;
}
section.money{
		background-attachment: scroll;
	}

	#menu .navbar-header img{
		width: 40px;
		height: 60px;
		margin: 0;
		margin-top: -13px;
	}
	#menu .logo{
		margin-left: -20px;
	}
	#menu .okna{
		margin-left: 70px;
		margin-top: -55px;
		margin-bottom: 8px;
		font-size:23px;
	}
	#menu .phone{
		margin-left: 0;
	}
	#header .intro-text{
		padding-top: 150px;
		padding-bottom: 50px;
	}
	#header .row h1 {
		font-size: 30px;
	}
	#header .row p {
		font-size: 15px;
	}
	#services .section-title h2{
		font-size: 38px;
	}
	#services .okna-item {
		margin-top: 50px;
	}
	#about .section-title h2{
		font-size: 25px;
	}
	.fun-facts{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#about img{
		max-width: 50px;
		margin: 0;
	}
	#about .counter-item p{
		font-size: 30px;
	}
	#about .counter-item .timer{
			margin-bottom: 0;
	}
	#about .counter-item h5{
		font-size: 15px;
		margin-top: 0;
	}
	.counter-item{
		margin-bottom: 10px;
		min-height: 100px;
		padding: 10px 20px;
		min-height: 212px;
		max-height: 215px;
	}
	.section-title h2{
		margin-bottom: 0;
		margin-top: 0;
		padding: 5px;
	}
	#money .karti{
		display: none;
	}
	#money .title-money{
		margin-top: 40px;
	}
	#money .title-money h2{
		font-size: 25px;
	}
	#money .wrap-money span{
		font-size: 20px;
	}
	#money .wrap-money p{
		font-size: 15px;
	}
	#money .wrap-money {
		margin-bottom: 20px;
	}
	#services .row{
		margin-top: -80px;
	}
	#services .section-title h2{
		font-size: 25px;
	}
	.form-money{
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.form-money .title-form h2{
		font-size: 25px;
		margin-bottom: 0;
		margin-top: 0;
	}
	.form-money .form1 input{
		margin-top: 10px;
	}
	.form-money .form1 button{
		width:90%;
		margin-top: 10px;
	}


	.sale .wrap-form2 .form2{
		float: none;
	}
	section.sale {
		-webkit-background-size: cover;
		background-size: cover;
		min-height: 300px;
		background: #fff url(../img/bg-image.jpg) bottom no-repeat;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.sale .wrap-form2 form h3 {
		font-size: 18px;
		color: #1f386e;
		text-transform: uppercase;
	}
	.sale .wrap-form2 form span {
		font-size: 22px;
	}

	.sale .wrap-form2 .form2 input {
		margin-bottom: 10px;
	}
	.sale .form2{
		max-width: 320px;
		display: block;
		float: none;
		padding:10px;
		display: block;
		background-color: #ebebeb;
		opacity: 0.9;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		margin:auto;
	}

	.sale .wrap-form2 .timer-sale{
		width:40px;
	}

	.timer-sale{
		display: none;
	}
	.timer-saling{
	display: block;
    }

	.follow-process img {
		font-size:24px;
		margin-bottom:25px;
		margin-top: -10px;
		color:#fff;
		height:70px;
		width:130px;
		line-height:90px;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	.work-process .title-work{
		margin-top: 15px;
		margin-bottom: -40px;
	}
	.work-process .title-work h2{
		font-size: 25px;
	}
	#portfolio .container h2{
		font-size: 30px;
	}
	.testimonials .section-title h2{
		font-size: 25px;
		}
		.testimonial{
			margin-top: -20px;
		}
	.charecters .title-charecters h2{
		margin-top: 10px;
		font-size: 25px;
	}
	.charecters .t .wrap-charec {
		margin-top: 10px;
	}
	.forma2 .title-form h2{
		font-size: 20px;
	}
	.forma2 form button {
		margin-top: 15px;
	}
	#contact .map iframe{
		margin-top: -25px;
		height: 80%;
	}
	#contact h2{
		font-size: 30px;
	}
	.wrap-popup{
	width:80%;
	}
	.wrap-popup form p{
	font-size: 25px;
	font-weight: 700;
	position: absolute;
	top: 0;
	left: 91%;
	}
	.wrap-popup{
	top: 20%;
	left: 50%;	
}

	#foter h3 {
	margin: 0;
	}
	#footer  h3{
		margin-top: -2px ;
		margin-bottom: 0;
	}
	#services .okna-svg .okno-wrap2 img{
 margin-bottom: 0px ;
}
.forma3 form button {
		margin-top: 15px;
	}
}




